<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="questions">
    <span class="user">
      <%= link_to feed_item.user.email, feed_item.user %>
    </span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% unless feed_item.class.name == "Answer" %>
	  <% if feed_item.answers.any? %>
	  	<td>
			<%= link_to "Show answers", :controller => "answers", :action => "index", :question_id => feed_item.id %>
	  	</td>
	  <% end %>
	  
	  <% if user_answered?(feed_item)%>
	  	<td>
	    	<%= link_to "Reply", :controller => "answers", :action => "new", :question_id => feed_item.id %>
	  	</td>
	  <% else %>
	    <td>
	    	<%= link_to "Edit", :controller => "answers", :action => "edit", :id => feed_item.answers.where("user_id = #{current_user.id}").first.id %>
	  	</td>
	  <% end %>
	  <% if current_user?(feed_item.user) %>
	  <td>
	    <%= link_to "Delete", feed_item, :method => :delete,
	                                     :confirm => "You sure?",
	                                     :title => feed_item.content %>
	  </td>
	  <% end %>
  <% else %>
	<% if current_user?(feed_item.user) %>
	  <td>
	   	<%= link_to "Edit", :controller => "answers", :action => "edit", :id => feed_item.id %>
	  </td>
	  <td>
	    <%= link_to "Delete", feed_item, :method => :delete,
	    								 :question_id => params[:question_id],
	                                     :confirm => "You sure?",
	                                     :title => feed_item.content %>
	  </td>
	  <% end %>
  <% end %>
</tr>